* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h4 {
  text-align: center;
  color: #99cc66;
  overflow-wrap: break-word;
  margin: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.bamboo-body-bg {
  margin: auto;
  padding: 0;
  color: white;
}

.sun {
  display: none;
  position: absolute;
  right: 90px;
  bottom: 600px;
  float: right;
  position: absolute;
  margin: 70px 40px;
  float: right;
}

.sun:hover {
  cursor: pointer;
}

.moon {
  position: absolute;
  right: 90px;
  bottom: 600px;
  float: right;
  display: none;
  position: absolute;
  float: right;
  margin: 70px 40px;
}

.moon:hover {
  cursor: pointer;
}

/* container that holds header and searchbox */
.flex-container {
  top: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo for Bamboo App */
.bamboo-logo {
  width: 30%;
  margin: 30px;
  padding: 0;
}

/* container that holds the searchbar and button */

.search-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* style for the searchbar */

.search-Input {
  color: black;
  width: 30%;
  padding: 5px 10px;
  border-radius: 10px;
}

/* style for the search button */

.search-btn {
  padding: 4px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #99cc66;
}

/* Error Window */
.error-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Error Box */
.error-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  padding: 50px;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Error Heading */
.error-heading {
  font-size: 50px;
}

/* Reset Button Position */
.reset-btn {
  display: none;
  margin: auto;
  padding: 0px;
  position: absolute;
  right: 675px;
  bottom: 57px;
  z-index: 1;
}

/* Styling for Page 2 */

/* Body Class for Second Page */
.page-two-body {
  margin: auto;
  padding: 0;
  background-color: rgb(43, 43, 43);
  color: white;
}

/* Image of Logo */
.results-bamboo-header {
  margin: 20px 70px;
  padding: 0px;
  width: 15%;
}

/* Heading for Second Page */
.search-results-heading {
  font-size: 50px;
  font-weight: bold;
  margin: 40px 40px;
  color: #fff;
}

.search-box-page-2 {
  background-color: #99cc66;
}

/* style for the searchbar */

.search-Input-page-2 {
  color: black;
  width: 20%;
  margin: 10px 0 10px 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* style for the search button */

.search-btn-page-2 {
  padding: 4px 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #ffffff;
  margin-left: 5px;
  cursor: pointer;
}

.lyric-data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Lyric Card Styling */
.lyric-card {
  background-color: rgb(37, 37, 37);
  box-shadow: 3px 3px 10px black;
  width: 300px;
  margin: 40px 30px;
  transform: translate(-5px, -5px);
}

.lyric-card:hover {
  transition: 0.3s;
  transform: translate(0px, 0px);
  cursor: pointer;
  box-shadow: -10px 10px 12px -4px #99cc66;
}

/* Modal Box Content */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
  margin: auto;
  padding: 20px;
  bottom: 50px;
  width: 700px; /* Change: Set your desired width */
  max-width: 100%;
  height: auto;
  box-sizing: border-box; /* Add this line to include padding and border in the width */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* Lyrics */
.lyric-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  text-align: center; /* Center align text */
}

.title-song {
  color: white;
  letter-spacing: 2px;
  text-transform: capitalize;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.thumbnailImg {
  margin: 40px 0px; /* Adjust spacing between title and thumbnail */
}

.thumbnailImg img {
  display: block; /* Make sure the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
  box-shadow: -10px 10px 0px -4px #99cc66;
}

.lyric-content a {
  pointer-events: none;
  color: #fff; /* Set the text color */
  text-decoration: none; /* Remove the underline */
  cursor: default; /* Set the cursor to default, indicating it's not clickable */
}

.spotify-link a {
  text-decoration: none;
  color: #99cc66;
}

.spotify-link {
  text-align: center;
}

/* Additional styling for link and content */
.spotify-link,
.lyric-content {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.lyric-content,
.spotify-link {
  color: #fff;
}

/* Album Art */
.album-art {
  position: relative;
  top: 40px;
  left: 20px;
  margin: auto;
  width: 175px;
  height: 175px;
  background-color: rgb(37, 37, 37);
  box-shadow: 3px 3px 10px black;
}

.title-song {
  font-size: 40px;
  font-weight: bold;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
