h4 {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.page-one-body {
  margin: auto;
  padding: 0;
  background-color: rgb(43, 43, 43);
  color: white;
}

/* container that holds header and searchbox */
.flex-container {
  top: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* styles the header of the website */

.bamboo-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* styling for logo */

.bamboo-logo {
  width: 30%;
  margin: 30px;
  padding: 0;
}

/* container that holds the searchbar and button */

.search-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* style for the searchbar */

.search-Input {
  color: black;
  width: 30%;
  padding: 5px 10px;
  border-radius: 10px;
}

/* style for the search button */

.search-btn {
  padding: 4px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #99cc66;
}

/* Error Window */
.error-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Error Box */
.error-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  padding: 50px;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Error Heading */
.error-heading {
  font-size: 50px;
}

/* Styling for Page 2 */

/* Body Class for Second Page */
.page-two-body {
  margin: auto;
  padding: 0;
  background-color: rgb(43, 43, 43);
  color: white;
}

/* Header Container */
.results-page-header {
  margin: auto;
  padding: 20px 0px;
  width: 100%;
  background-color: rgb(32, 32, 32);
}

/* Image of Logo */
.results-bamboo-header {
  margin: 20px 70px;
  padding: 0px;
  width: 15%;
}

/* Heading for Second Page */
.search-results-heading {
  font-size: 50px;
  font-weight: bold;
  margin: 40px 40px;
}

.search-box-page-2 {
  background-color: #99cc66;
}

/* style for the searchbar */

.search-Input-page-2 {
  color: black;
  width: 20%;
  margin: 10px 0 10px 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* style for the search button */

.search-btn-page-2 {
  padding: 4px 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #ffffff;
  margin-left: 5px;
  cursor: pointer;
}

.lyric-data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Lyric Card Styling */
.lyric-card {
  background-color: rgb(37, 37, 37);
  box-shadow: 3px 3px 10px black;
  margin: 40px 30px;
  transform: translate(-5px, -5px);
}

.lyric-card:hover {
  transition: 0.3s;
  transform: translate(0px, 0px);
  cursor: pointer;
  box-shadow: -10px 10px 12px -4px #99cc66;
}

/* Modal Box Content */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  display: flex;
  bottom: 50px;
  flex-direction: row;
  background-color: rgb(37, 37, 37);
  margin: auto;
  padding: 0;
  width: 720px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Modal Card Styling */

/* Lyrics */
.lyric-container {
  position: relative;
  left: 10px;
  width: 60%;
  margin: auto;
  padding: 0px;
}

/* Album Art */
.album-art {
  position: relative;
  top: 40px;
  left: 20px;
  margin: auto;
  width: 175px;
  height: 175px;
  background-color: rgb(37, 37, 37);
  box-shadow: 3px 3px 10px black;
}

.title-song {
  font-size: 40px;
  font-weight: bold;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
